.navSidebar_container {
  height: 100%;
  width: 4.8rem;
  min-width: 4.8rem;
  max-width: 17rem;

  background: var(--foreground-color);

  border-right: var(--secondary-color) solid 2px;
  box-sizing: border-box;
  border-radius: 25px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  overflow: hidden;

  padding: 2rem 0.5rem;

  transition: width 0.15s linear;
}

.navSidebar_container:hover {
  width: 20rem;
}

@media screen and (max-width: 800px) {
  .navSidebar_container {
    width: 4.8rem;
  }
  .navSidebar_container:hover {
    width: 4.8rem;
  }
}

.naviBottomPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.naviBottomPanelShrunken {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.navLogo {
  width: 100%;
  aspect-ratio: 1/1;
}

.button {
  min-width: 2.8rem;
  min-height: 2.8rem;

  border: none;

  color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0px 0.3rem;

  filter: brightness(100%);

  transition: filter 0.1s linear;
}

.button:hover {
  filter: brightness(70%);
  cursor: pointer;
}

.button:active {
  filter: brightness(50%);
  cursor: pointer;
}
