.navSidebar_container {
  height: 100%;
  width: 4.8rem;
  min-width: 4.8rem;
  max-width: 17rem;

  background-color: var(--mui-palette-foreground);

  border-inline-end: var(--mui-palette-secondary-main) solid 0.125rem;
  box-sizing: border-box;
  border-start-end-radius: 25px;
  border-end-end-radius: 25px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  overflow-x: hidden;
  overflow-y: auto;

  padding: 2rem 0.5rem;

  transition: width 0.15s linear, inset-inline-start 0.15s linear,
    background-color var(--color-transition) linear;
}

.locked {
}

.popup {
}
.navLogoContainer {
}

.navLogo {
  width: 100%;
  aspect-ratio: 1/1;
}

.navSidebar_container:hover {
  width: 24rem;
}

.navSidebar_container:hover .power_button,
.navSidebar_container.locked .power_button {
  border-start-end-radius: 0px !important;
  border-end-end-radius: 0px !important;
}

.navSidebar_container:hover .settings_button,
.navSidebar_container.locked .settings_button {
  width: auto !important;
  border-start-start-radius: 0px !important;
  border-end-start-radius: 0px !important;
}

.navSidebar_container:hover .settings_text,
.navSidebar_container.locked .settings_text {
  display: flex;
}

.navSidebar_container:hover .combined_buttons,
.navSidebar_container.locked .combined_buttons {
  flex-direction: row;
  box-shadow: var(--mui-shadows-6);
  gap: 0rem;
}

.navSidebar_container:hover .lock_button,
.navSidebar_container.locked .lock_button {
  display: inline-flex !important;
}

.nav_bottom_panel {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 0.5rem;
}

.combined_buttons {
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  gap: 1rem;

  height: fit-content;
  width: fit-content;
  pointer-events: auto;
}

.power_button {
  box-shadow: none !important;

  background-color: var(--mui-palette-error-main) !important;
  color: var(--mui-palette-primary-contrastText) !important;

  transition: border-radius 0.1s linear !important;

  border-radius: 50%;
}

.settings_button {
  box-shadow: none !important;

  width: 2.5rem !important;

  gap: 0.5rem !important;

  background-color: var(--mui-palette-secondary-main) !important;
  color: var(--mui-palette-primary-contrastText) !important;

  transition: border 0.1s linear,
    background-color var(--color-transition) linear !important;
}

.settings_text {
  display: none;
}

.lock_button {
  display: none !important;
  background-color: var(--mui-palette-niceBlue) !important;
  color: var(--mui-palette-primary-contrastText) !important;
}

@media screen and (max-width: 800px) {
  .navSidebar_container {
    position: absolute;
    inset-inline-start: -18rem;
    z-index: 100 !important;
    /* transform: translateX(-18rem); */
  }

  .navSidebar_container.popup {
    inset-inline-start: 0rem;
  }
}

@media screen and (max-height: 500px) {
  .navLogoContainer {
    display: none;
  }
}
