.home_page_container {
  width: 100dvw;
  height: 100vh;

  box-sizing: border-box;
  padding: 0rem;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  background: var(--mui-palette-background-default);
}

.home_content_container {
  padding: var(--global-padding);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--global-padding);
}

.content_container {
  width: 100%;
  height: 100%;

  background-color: var(--mui-palette-foreground);

  border: 0.125rem solid var(--mui-palette-secondary-main);
  border-radius: 25px;

  overflow-x: hidden;
  overflow-y: unset;
}

.content_container_invisible {
  width: 100%;
  height: 100%;

  background-color: transparent;

  overflow-x: hidden;
  overflow-y: unset;
}

.vail {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s linear, backdrop-filter 0.2s linear;
}

.show {
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.125rem);
  -webkit-backdrop-filter: blur(0.125rem);
}

.hide {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

/* @keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 50%;
  }
} */
