.map_panel_container {
  height: 100%;
  width: 0;
  min-width: 0rem;
  animation: slideInWidth var(--panel-transition) linear forwards;
  overflow: hidden;
}

@keyframes slideInWidth {
  from {
    width: 0;
    min-width: 0rem;
  }
  to {
    width: 32rem;
    min-width: 32rem;
  }
}

.map_container {
  height: 100%;
  width: 100%;

  padding: 0.5rem 0rem;

  box-sizing: border-box;

  background: var(--mui-palette-foreground);

  overflow-y: hidden;

  border: 0.125rem solid var(--mui-palette-secondary-main);
  border-radius: 25px;
}

.scroll_container {
  height: 100%;
  width: 100%;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: baseline;

  overflow-y: auto;
}
