.certificate_panel {
  height: 100%;
  width: 30%;
  min-width: 22rem;

  display: flex;
  flex-direction: column;
  align-items: baseline;

  box-sizing: border-box;

  background: var(--mui-palette-foreground);

  overflow-y: hidden;

  border: 0.125rem solid var(--mui-palette-secondary-main);
  border-radius: 25px;
}

.scroll_panel {
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow-y: scroll;

  padding: 1rem;
}

.top_section {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bottom_section {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.action_buttons_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}
