.list_container {
  max-width: 100%;
  height: 100%;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.list_header_container {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: "center";
  gap: 0.5rem;
}

.list_header_left_side {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.list_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.list_header_right_side {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.search_component {
  display: flex;
  flex-direction: row;
}

.scrollableContainer {
  height: 100%;
  overflow-y: scroll;
}

.scrollableContainer::-webkit-scrollbar {
  width: 8px;
}

.scrollableContainer::-webkit-scrollbar-thumb {
  background-color: var(--mui-palette-secondary-main);
  border-radius: 4px;
}

.paginationContainer {
  display: flex;
  justify-content: space-between;
  min-height: 3.5rem;
  padding-inline-start: 2rem;
  padding-inline-end: 1rem;
  overflow: hidden;
  border-top: solid 1px var(--mui-palette-secondary-main);
}

@media screen and (max-width: 700px) {
  .paginationContainer {
    justify-content: center;
  }

  .list_title {
    display: none;
  }
}
