.popup_background {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.125rem);

  z-index: 120;
}

.popup_container {
  min-width: 16rem;
  min-height: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--mui-palette-foreground);
}

.popup_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
