.infobox_container {
  /* border: 0.125rem solid pink; */
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.line_container {
  display: flex;
  justify-content: space-between;
}
