.content_container {
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  padding: 2rem;

  border: 2px solid var(--secondary-color);
  border-radius: 25px;

  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;
  flex-direction: row;
  gap: 2rem;

  background: var(--foreground-color);
}

.lists_container {
  width: 80%;
  height: 100%;

  background: var(--background-color);

  border: 2px solid var(--mui-palette-secondary-main);
  border-radius: 25px;

  overflow: hidden;
}
