.content_container {
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  padding: 1rem;

  border-radius: 25px;

  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;
  flex-direction: row;
  gap: var(--global-padding);

  /* background: var(--mui-palette-foreground); */
}

.lists_container {
  width: 100%;
  height: 100%;

  background: var(--mui-palette-foreground);

  border: 0.125rem solid var(--mui-palette-secondary-main);
  border-radius: 25px;

  overflow: hidden;
}
