.content_container {
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  gap: var(--global-padding);

  /* border: 0.125rem solid var(--mui-palette-secondary-main);
  border-radius: 25px; */

  /* overflow-x: hidden;
  overflow-y: visible; */
}

.list_container {
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  border: 0.125rem solid var(--mui-palette-secondary-main);
  border-radius: 25px;

  background-color: var(--mui-palette-foreground);
}
