.root_container {
  background-color: black;
}

.home_page_container {
  width: 100dvw;
  height: 100vh;

  box-sizing: border-box;
  padding: 0rem;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  background: var(--background-color);
}

.home_content_container {
  padding: var(--global-padding);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--global-padding);
}

.content_container {
  width: 100%;
  height: 100%;

  border: 0.125rem solid var(--secondary-color);
  border-radius: 25px;

  overflow-x: hidden;
  overflow-y: unset;
}
