.attachment_box_container {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;

  border: 0.125rem solid var(--mui-palette-secondary-main);
  border-radius: 15px;

  flex-shrink: 0;

  overflow: hidden;
}
.attachment_box {
  width: 100%;
  height: 100%;

  background: transparent !important;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  overflow: hidden;
}

.attachment {
  height: 100%;
  /* width: 100%; */
}
