.header_container {
  min-height: 4.688rem;
  max-height: 6.25rem;

  width: 100%;

  background: var(--mui-palette-foreground);

  border: 0.125rem solid var(--mui-palette-secondary-main);
  border-radius: 15px;

  padding: 0.625rem 1.875rem;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;

  overflow: hidden;
  text-overflow: ellipsis;

  z-index: 1;
}

.right_side {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
}

.middle_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
}

.left_side_pc {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
}

.left_side_mobile {
  height: 100%;
  display: none;
  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
}

@media screen and (max-width: 800px) {
  /* .right_side {
    display: none;
  } */
  .left_side_pc {
    display: none;
  }
  .left_side_mobile {
    display: flex;
  }

  .header_container {
    min-height: 3.688rem;
    padding: 0.625rem 0.875rem;
  }
}
@media screen and (max-width: 1000px) {
  .middle_container {
    display: none;
  }
}
@media screen and (max-width: 450px) {
}
