.user_panel {
  height: 100%;
  width: 22%;
  min-width: 20rem;

  box-sizing: border-box;

  background: var(--background-color);

  border: 2px solid var(--mui-palette-secondary-main);
  border-radius: 25px;

  overflow-y: hidden;
}

.user_scroll_panel {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  overflow-y: scroll;
}
