.user_panel {
  height: 100%;
  width: 30%;
  min-width: 22rem;

  box-sizing: border-box;

  background: var(--mui-palette-foreground);

  border: 0.125rem solid var(--mui-palette-secondary-main);
  border-radius: 25px;

  overflow-y: hidden;
}

.user_scroll_panel {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  overflow-y: scroll;
}
