.skillbox_container {
  width: 100%;
  height: 100%;

  min-height: 6rem;

  padding: 0.2rem 0rem;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateY(-20px);
}

.skillbox {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  padding: 1rem 0.8rem;

  min-height: 5rem;

  border: 0.125rem solid var(--mui-palette-secondary-main);
  border-radius: 25px;
}

.skill_scroll_container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem;

  align-content: flex-start;

  overflow-y: scroll;
}

.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0.1rem 0.5rem;

  width: fit-content;
  height: fit-content;

  background: var(--mui-palette-primary-main);
  border-radius: 25px;
}
