* {
  margin: 0px;
  padding: 0px;
  transition: color var(--color-transition) linear,
    background-color var(--color-transition) linear;
}

:root {
  --color-scheme: "light";

  --primary-color: #f89c1c;
  --primary-light: #f89c1c33;
  --primary-dark: #f78c1b;
  --secondary-color: #676767;
  --background-color: #f9f8f8;
  --foreground-color: #ffffff;
  --text-color: #000000;
  --reverse-text-color: #ffff;

  --nice-green: #4caf50;
  --nice-red: #b83b40;
  --nice-blue: #0c8ce9;

  --global-padding: 2rem;

  --color-transition: 0.15s;
  --panel-transition: 0.1s;

  height: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--text-color);

  font-size: 3.812em;
  font-weight: 900;

  font-family: "Tajawal";
}

h2 {
  color: var(--text-color);

  font-size: 3.062em;
  font-weight: 900;

  font-family: "Tajawal";
}

h3 {
  color: var(--text-color);

  font-size: 2.438rem;
  font-weight: 800;

  font-family: "Tajawal";
}

h4 {
  color: var(--text-color);

  font-size: 1.938rem;
  font-weight: 700;

  font-family: "Tajawal";
}

h5 {
  color: var(--text-color);

  font-size: 1.562rem;
  font-weight: 500;

  font-family: "Tajawal";
}

h6 {
  color: var(--text-color);

  font-size: 1.25rem;
  font-weight: 500;

  font-family: "Tajawal";
}

p {
  color: var(--text-color);

  font-size: 1rem;
  font-weight: 400;

  font-family: "Tajawal";
}

small {
  color: var(--text-color);

  font-size: 0.812rem;
  font-weight: 300;

  font-family: "Tajawal";
}

.f1 {
  color: var(--text-color);

  font-size: 0.625rem;
  font-weight: 300;

  font-family: "Tajawal";
}

.f2 {
  color: var(--text-color);

  font-size: 0.5rem;
  font-weight: 300;

  font-family: "Tajawal";
}

label {
  color: var(--text-color);

  font-size: 1.938rem;
  font-weight: 700;

  font-family: "Tajawal";
}

.home_page_container {
  width: 100dvw;
  height: 100vh;

  box-sizing: border-box;
  padding: 0rem;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  background: var(--background-color);
}

.home_content_container {
  padding: var(--global-padding);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--global-padding);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mui-palette-secondary-main);
  border-radius: 4px;
}

@media screen and ((max-width: 700px) or (max-height: 700px)) {
  :root {
    --global-padding: 1rem;
  }
}
