.tabs_container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  overflow-y: hidden;
}

.tab_selector {
  width: 100%;
}

.tab_container {
  width: 100%;
  height: calc(100% - 48px);
}

.tab {
  width: 5rem;
  height: 5rem;

  background: red;
}
